:root {
    --surCordBackground: transparent;
    --surCordBackground2: transparent;
    --surCordTextBackground: transparent;
    --surcordFriendsBackground: transparent;
    --surCordFriends: transparent;
    --surCordActiveNow: transparent;
    --surCordGuilds: transparent;
    --surCordTitleBar: transparent;
    --surCordSearch: transparent;
    --surCordHover: transparent;
    --surCordBorder: transparent;
  }
