:root {
    --surCordBackground: transparent;
    --surCordBackground2: rgb(42, 40, 44);
    --surCordTextBackground: transparent;
    --surcordFriendsBackground: rgb(33, 31, 35);
    --surCordFriends: transparent;
    --surCordActiveNow: rgba(88, 84, 85, 0.276);
    --surCordGuilds: transparent;
    --surCordTitleBar: transparent;
    --surCordSearch: transparent;
    --surCordHover: rgb(30, 30, 30);
    --surCordBorder: rgb(100, 130, 130);
  }
